<div class="container" >
    <div class="card text-center m-5">
        <div class="card-header">Nutrition Trips</small>
        </div>
        <div class="d-flex justify-content-center" id="reddit_posts_loading">
            <div class="spinner-border m-5" role="status" >
                <span class="visually-hidden">Loading...</span>
            </div>
        </div>
        <div class="row justify-content-center grid gap-3 mt-3 mb-3 d-none" id="reddit_posts">   
        </div>
    </div>
</div>
